trigger: 
   - main
pool: 
  vmImage: 'ubuntu-latest'
 -steps:
     - task: AzurePowerShell@5
    inputs:
      ScriptType: 'InlineScript'
      Inline: 'az login'
  - task: PowerShell@2
    inputs:
      targetType: 'inline'
      script: 'terraform init'
  - task: PowerShell@2
    inputs:
      targetType: 'inline'
      script: 'terraform plan'